html{

    font-size: 16px;
    /* margin: 0px; */
}
body{
    /* font-family: "Inter", sans-serif; */
    font-weight: 400;
    line-height: 24px;
    color:#55205D;
    background-color: #FFF8F0;
}
#info{
    display: flex;
}
#name{
    margin-top:52px;
}
.Hero{
    /* position: relative; */
    display: flex;
    max-width: 900px;;
    margin: 0 auto 48px auto;
    /* padding: 0 50px; */
}
#textpart{
    margin: 0 auto;
    padding: 32px 5px 32px 5px;
}
#imagepart-width{
    width: 70%;
}
#photo-width{
    width: 30%;
    /* height: 100%; */
    
}
#photo{
    width: 80%;
   border-radius:30%;
    margin-top: 30px;
    margin-left: 30px;
}
h1{
    font-family: "League Spartan",sans-serif;
    color: #190D37;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30;
    /* padding: 0 8px; */
    /* width: 30%; */
}
.Bigtext{
    font-family: "Inter";
    color: #331E6A;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 30%;
    /* margin: 0 auto; */
    /* padding: 0 8px; */
}
#contact{
    background-color: black;
    color: white;
    width: 138px;
    height: 44px;
    border-radius:  solid purple 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: "Inter",sans-serif;
    margin-top:16px ;
    cursor: pointer;
}
#contact:hover{
    background-color: white;
    color:black
}
#price{
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #2858FF;
    line-height: 18px;
    margin-top:48px;
}
h2{
    font-family: "League Spartan",sans-serif;
    color: #190D37;
    text-align: center;
    margin-top:8px;
}
#txt{
    text-align: center;
    color: rgb(34, 34, 34);
    font-family: "Inter";
    font-size: 15px;
    font-weight: 250;
    /* margin-top:5px; */
   
}
#container{
    display: flex;
    margin:0 auto;
    margin-top: 30px;
    max-width: 900px;
    height: fit-content;
    height:auto;
    padding-bottom: 0px;
}
#psd{
    width: 33%;
    background-color: white;
    margin-right: 15px;
    padding-right:20px ;
    border-radius: 10px;
}
#html1{
    text-align: left;
    padding: 8px 0px 10px 15px;
    font-size: 10px;
}
#bold{
    padding: 20px 0 0 15px;
    font-size: 25px;
}
#page{
    margin-left:5px;
    color: #8A8A8A;
    font-family: "Poppins";
    font-size: 10px;
}
#detail-of-amount{
    font-size: 12.5px;
    font-weight:500; 
    padding: 5px 5px 0 15px;
    color: #9ca3af;
}
#list{
    color: #6b7280;
    font-size: medium;
    font-weight: 600;
    padding: 5px 0 0 18px;
}
#me1{
    text-align: center;
    background-color:black ;
    color: white;
    padding:5px 0 5px 0;
    margin: 10px 0px 10px 20px;
    border-radius:5px; 
}
#me{
    text-align: center;
    background-color:ghostwhite ;
    color: black;
    border:2px solid black;
    padding:5px 0 5px 0;
    margin: 10px 0px 10px 20px;
    border-radius:5px; 
}
#sketch{
    width: 33%;
    background-color: #FFD748;
    margin-right: 15px;
    border-radius: 10px;
    padding-right:20px ;
}
#figma{
    width: 33%;
    /* text-align: center; */
    background-color: white;
    margin-right: 15px;
    border-radius: 10px;
    padding-right: 20px;
}